html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-hover {
  transition: all 0.5s;
}

.link-hover:hover {
  color: #51cf66;
}

.link-icon {
  transition: all 0.5s;
}

.link-icon:hover {
  color: #51cf66;
}

.arrow-tax {
  transform: rotate(20deg);
}

.arrow-account {
  transform: rotate(90deg);
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
/* .table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
} */

.table-hover:hover {
  background-color: #cbd5e0;
  cursor: pointer;
}

.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.expense-row:hover {
  background-color: #cbd5e0;
}
@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
.date-picker ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media only screen and (max-width: 800px) {
  .arrow-tax {
    transform: rotate(-44deg);
  }
}
